body{
    background-color: lightblue;
}

h1{
    color: darkblue;
}

p{
    color: blue;
}

#button3 {
    background-color: darkblue; /* DarkBlue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button1 {
    background-color: green; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button2 {
    background-color: red; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#opsættere {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#opsættere td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#opsættere tr:nth-child(even){background-color: #f2f2f2;}

#opsættere tr:hover {background-color: #ddd;}

#opsættere th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
}



