<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../Swag.css">
    <style>
        body {margin:0;}

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: fixed;
            top: 0;
            width: 100%;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: blue;
        }
    </style>
</head>
<body>

<ul>
    <li><a class="active" href="../controllers/Index.php">Home</a></li>
    <li><a href="../controllers/MalingsSoap.php">Historik</a></li>
    <li><a href="../controllers/Opsættere.php">Opsættere</a></li>
    <li><a href="../controllers/Email.php">Email</a></li>
</ul>
<div class="MailLogo"></div>
<div style="padding:20px;margin-top:30px;background-color:lightblue;height:1500px;">
    <h1>Email Panel:</h1>
    <h2 class="SendDataTekst"> Send alt data:</h2>
    <h2 class="SendMaxTekst"> Send max måling:</h2>
    <h2 class="SendInfoTekst"> Send info af valgte:</h2>
    <input id="buttonData"
           type="button" value="Send Data" onclick="">
    <input id="buttonMax"
           type="button" value="Send Max" onclick="">
    <input id="buttonInfo"
           type="button" value="Send Info" onclick="">
    <h2>
        {% if state == 1 %}
            Målinger er startet
        {% else %}

        {% endif %}
        </br>
    </h2>
</div>

</body>
</html>