
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../Swag.css">
</head>
<body>

<ul>
    <li><a href="../controllers/Index.php">Home</a></li>
    <li><a href="../controllers/MalingsSoap.php">Historik</a></li>
    <li><a href="../controllers/Opsættere.php">Opsættere</a></li>
    <li><a class="active" href='../controllers/Email.php'>Email</a></li>
</ul>

<div class="MailLogo"></div>

<div class="div4">
    <h1>Email Panel:</h1>
    <h2 class="SendDataTekst"> Send alt data:</h2>
    <h2 class="SendMaxTekst"> Send max måling:</h2>
    <h2 class="SendInfoTekst"> Send info af valgte:</h2>
    <input id="buttonData"
           type="button" value="Send Data" onclick="window.location.href='../controllers/SendData.php'">
    <input id="buttonMax"
           type="button" value="Send Max" onclick="window.location.href='../controllers/SendMaxData.php'">
    <input id="buttonInfo"
           type="button" value="Send Info" onclick="window.location.href='../controllers/SendInfo.php'">
</div>

</body>
</html>