<!Doctype html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="../Swag.css"

</head>
<body>

<h1>Målings project</h1>

<p>Start eller stop måling:</p>



<form action="welcome.php" method="post">


    <div class="popup" onclick="window.location.href='../controllers/IndexSS.php'">Start måling
        <span class="popuptext" id="myPopup"></span>
    </div>
    <button class="button2">Stop måling</button>

    {% if state == 1 %}
    <h2>Målinger er startet</h2>
    {% else %}
    <h2>Målingerne Køre ikke</h2></br>
    {% endif %}

    <p>Se historik og opsættere:</p>
    <input id="button3"
           type="button" value="Historik" onclick="window.location.href='../controllers/MalingsSoap.php'">
    <input id="button3"
           type="button" value="Opsætter" onclick="window.location.href='../controllers/Opsættere.php'">
</form>
</br>
<h1>
{% if service == true %}
    <font color="green">Servicen er Online</font>
{% else %}
    <font color="red">Servicen er Offline</font></br>
{% endif %}
</h1>
</body>
</html>
<!--<button href="Historik.php" class="button3">Historik</button>
<input class="button1" type="submit" value="Start måling">
<input class="button2" type="submit" value="Stop måling">-->

<script>
    // When the user clicks on <div>, open the popup
    function myFunction() {
        var popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
    }
</script>
<!--<a href="Historik.php">Historik</a>-->

