<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../Swag.css">
</head>
<body>

<ul>
    <li><a class="active" href="../controllers/Index.php">Home</a></li>
    <li><a href="../controllers/MalingsSoap.php">Historik</a></li>
    <li><a href="../controllers/Opsættere.php">Opsættere</a></li>
    <li><a href="../controllers/Email.php">Email</a></li>
</ul>

<div class="div3">
    <h1>Målings Project</h1>
    <h2>Start eller stop måling:</h2>

    <form action="../controllers/IndexSS.php" method="post">
        <select name="sted">
            <option value="1" selected>Vælg placering</option>
            <option value="1">Københanv Nord</option>
            <option value="2">København Syd</option>
            <option value="3">Københanv Vest</option>
            <option value="4">København Øst</option>
        </select>
        <input type="submit" value="Start/Stop Målinger">
    </form>

        <h2>
        {% if state == 1 %}
            Målinger er startet
        {% else %}
            Målingerne Køre ikke
        {% endif %}
    </br>
        {% if service == 1 %}
            <font color="green">Servicen er Online</font>
        {% else %}
            <font color="red">Servicen er Offline</font></br>
        {% endif %}
    </h2>
</div>

</body>
</html>