<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../Swag.css">
    <style>
        body {margin:0;}

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: fixed;
            top: 0;
            width: 100%;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: blue;
        }
    </style>
</head>
<body>

<ul>
    <li><a class="active" href="../controllers/Index.php">Home</a></li>
    <li><a href="../controllers/MalingsSoap.php">Historik</a></li>
    <li><a href="../controllers/Opsættere.php">Opsættere</a>
</ul>

<div style="padding:20px;margin-top:30px;background-color:lightblue;height:1500px;">
    <h1>Målings Project</h1>
    <h2>Start eller stop måling:</h2>
    <input id="button3"
           type="button" value="Start/Stop Målinger" onclick="window.location.href='../controllers/IndexSS.php'">
    <h2>
        {% if state == 1 %}
            Målinger er startet
        {% else %}
            Målingerne Køre ikke
        {% endif %}
    </h2>
    </br>
    <h2>
        {% if service == 1 %}
            <font color="green">Servicen er Online</font></br>
        {% else %}
            <font color="red">Servicen er Offline</font>
        {% endif %}
    </h2>

    <input id="button3"
           type="button" value="Test" onclick="window.location.href='../controllers/LydSted.php'">
</div>



</body>
</html>


<script>
    // When the user clicks on <div>, open the popup
    function myFunction() {
        var popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
    }
</script>
