<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../Swag.css">
    <title>Personale</title>
    <style>
        body {margin:0;}

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: fixed;
            top: 0;
            width: 100%;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: blue;
        }
    </style>
</head>
<body>

<ul>
    <li><a href="../controllers/Index.php">Home</a></li>
    <li><a href="../controllers/MalingsSoap.php">Historik</a></li>
    <li><a class="active" href="../controllers/Opsættere.php">Opsættere</a></li>
    <li><a href="../controllers/Email.php"> Email</a></li>

</ul>

<div style="padding:20px;background-color:lightblue;height:2000px;">

    {% if personale is empty %}
        no Målinger
    {% else %}
        <ul2>
            <table id="opsættere">
                <tr>
                    <th>Navn</th>
                    <th>Tlf. Nr</th>
                    <th>E-mail</th>
                </tr>
                {% for personer in personale %}
                    <tr>
                        <td>{{ personer.Navn }}</td>
                        <td>{{ personer.Telf }}</td>
                        <td>{{ personer.Email }}</td>
                    </tr>

                {% endfor %}
            </table>
        </ul2>
    {% endif %}


</div>
</body>
</html>