<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../Swag.css">
    <title>Personale</title>
</head>
<body>

<ul>
    <li><a href="../controllers/Index.php">Home</a></li>
    <li><a href="../controllers/MalingsSoap.php">Historik</a></li>
    <li><a class="active" href="../controllers/Opsættere.php">Opsættere</a></li>
    <li><a href="../controllers/Email.php"> Email</a></li>

</ul>

<div>

    {% if personale is empty %}
        no Målinger
    {% else %}
        <ul2>
            <table id="opsættere">
                <tr>
                    <th>Navn</th>
                    <th>Tlf. Nr</th>
                    <th>E-mail</th>
                </tr>
                {% for personer in personale %}
                    <tr>
                        <td>{{ personer.Navn }}</td>
                        <td>{{ personer.Telf }}</td>
                        <td>{{ personer.Email }}</td>
                    </tr>

                {% endfor %}
            </table>
        </ul2>
    {% endif %}


</div>
</body>
</html>