<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../Swag.css">
    <title>Historik</title>
    <style>
        body {margin:0;}

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: fixed;
            top: 0;
            width: 100%;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: blue;
        }
    </style>
</head>
<body>

<ul>
    <li><a href="../controllers/Index.php">Home</a></li>
    <li><a class="active" href="../controllers/MalingsSoap.php">Historik</a></li>
    <li><a href="../controllers/Opsættere.php">Opsættere</a></li>
    <li style="float:right"><a href='../controllers/MalingsSoap.php'>Opdater</a></li>
    <li style="float:right"><a href='../controllers/SortMal.php'>Sortér</a></li>
</ul>

<div style="padding:20px;background-color:lightblue;height:2000px;">

    {% if lydera is empty %}
    no Målinger
    {% else %}
    <ul2>
        <table id="opsættere">
            <tr>
                <th>Dato</th>
                <th>Niveau</th>
            </tr>
            {% for lyde in lydera %}
                <tr>
                    <td>Dato for Måling:   {{ lyde.Date }}</td>
                    <td>Lyd Niveau:   {{ lyde.Lyde }}</td>
                </tr>

            {% endfor %}
        </table>
    </ul2>
    {% endif %}


</div>
</body>
</html>