<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../Swag.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Målinger</h1>
<input id="button3" type="button" value="Opdater" onclick="onclick=window.location.reload(true)">

{% if lydera is empty %}
    no Målinger
{% else %}
    <ul>
        <table id="opsættere">
            <tr>
                <th>Dato</th>
                <th>Niveau</th>
            </tr>
            {% for lyde in lydera %}
                <tr>
                    <td>Dato for Måling:   {{ lyde.Date }}</td>
                    <td>Lyd Niveau:   {{ lyde.Lyde }}</td>
                </tr>

            {% endfor %}
        </table>
    </ul>
{% endif %}


<input id="button3"
       type="button" value="Back" onclick="window.location.href='../controllers/Index.php'">
<input id="button3"
       type="button" value="Unsort" onclick="window.location.href='../controllers/MalingsSoap.php'">

</body>
</html>