<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if lydera is empty %}
    no Målinger
{% else %}
    <ul>
        {% for lyde in lydera %}
            <li>
                Lyd Niveau: {{ lyde.Lyde }}
            </li>

        {% endfor %}</ul>
{% endif %}

</body>
</html>