<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../Swag.css">
    <title>Sorteret</title>
</head>
<body>

<ul>
    <li><a href="../controllers/Index.php">Home</a></li>
    <li><a class="active" href="../controllers/MalingsSoap.php">Historik</a></li>
    <li><a href="../controllers/Opsættere.php">Opsættere</a></li>
    <li><a href="../controllers/Email.php">Email</a></li>
    <li style="float:right"><a href='../controllers/SortMal.php'>Opdater</a></li>
    <li style="float:right"><a class="active" href='../controllers/MalingsSoap.php'>Usortér</a></li>
</ul>


<div class="div2">
    {% if lydera is empty %}
        no Målinger
    {% else %}
        <ul2>
            <table id="opsættere">
                <tr>
                    <th>Dato</th>
                    <th>Niveau</th>
                    <th>Placering</th>
                </tr>
                {% for lyde in lydera %}
                    <tr>
                        <td>Dato for Måling:   {{ lyde.Date }}</td>
                        <td>Lyd Niveau:   {{ lyde.Lyde }}</td>
                        <td>Placering: {{ lyde.Sted }}</td>
                    </tr>

                {% endfor %}
            </table>
        </ul2>
    {% endif %}


</div>
</body>
</html>
